h1.title{
    color: #d14234!important;
}

.container-header{
    background-color: #d14234;
}

.hero-subtitle{
    color: white;
}

.main-hero{
    background-color: #646663;
}

.btn{
    font-weight:bold!important;
}

